<!DOCTYPE html>
<html>
<head>
    <title>MaxVoice | Welcome to the Anonymous Blog</title>

    <meta content='user-scalable=no, initial-scale=1, width=device-width' id='viewport' name='viewport' />
    <meta name="description" content="" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="static/styles/normalize.css">
    <link rel="stylesheet" href="static/styles/base.css">
    <link rel="stylesheet" href="static/styles/buttons.css">
    <link rel="stylesheet" href="static/styles/forms.css">
    <link rel="stylesheet" href="static/styles/layout.css">
    <link rel="stylesheet" href="static/styles/modal.css">
    <link rel="stylesheet" href="static/styles/navigation.css">
    <link rel="stylesheet" href="static/styles/typography.css">

    <link rel="stylesheet" href="static/styles/post.css">
</head>
<body ng-app="MaxVoice" ng-view>
    <script src="static/scripts/app.js"></script>
    <script src="static/scripts/create/create-ctrl.js"></script>
    <script src="static/scripts/detail/detail-ctrl.js"></script>
    <script src="static/scripts/post/post-ctrl.js"></script>
</body>
</html>
