.right {
    float: right !important;
}

.left {
    float: left !important;
}

.grid-container {
    margin: 0 auto;
    max-width: 680px;
    padding-left: 12px;
    padding-right: 12px;
}

.grid-container:before,
.grid-container:after,
.grid-100:before,
.grid-100:after {
    content: ".";
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
}

.grid-container:after,
.grid-100:after {
    clear: both;
}

.grid-5, .mobile-grid-5, .tablet-grid-5,
.grid-10, .mobile-grid-10, .tablet-grid-10,
.grid-15, .mobile-grid-15, .tablet-grid-15,
.grid-20, .mobile-grid-20, .tablet-grid-20,
.grid-25, .mobile-grid-25, .tablet-grid-25,
.grid-30, .mobile-grid-30, .tablet-grid-30,
.grid-35, .mobile-grid-35, .tablet-grid-35,
.grid-40, .mobile-grid-40, .tablet-grid-40,
.grid-45, .mobile-grid-45, .tablet-grid-45,
.grid-50, .mobile-grid-50, .tablet-grid-50,
.grid-55, .mobile-grid-55, .tablet-grid-55,
.grid-60, .mobile-grid-60, .tablet-grid-60,
.grid-65, .mobile-grid-65, .tablet-grid-65,
.grid-70, .mobile-grid-70, .tablet-grid-70,
.grid-75, .mobile-grid-75, .tablet-grid-75,
.grid-80, .mobile-grid-80, .tablet-grid-80,
.grid-85, .mobile-grid-85, .tablet-grid-85,
.grid-90, .mobile-grid-90, .tablet-grid-90,
.grid-95, .mobile-grid-95, .tablet-grid-95,
.grid-100, .mobile-grid-100, .tablet-grid-100,
.grid-33, .mobile-grid-33, .tablet-grid-33,
.grid-66, .mobile-grid-66, .tablet-grid-66 {
    padding-left: 12px;
    padding-right: 12px;
    float: left;
}

.grid-parent {
    padding-left: 0;
    padding-right: 0;
}

.push-0 {
    left: 0;
}

.grid-5 {
    width: 5%;
}

.push-5 {
    left: 5%;
}

.grid-10 {
    width: 10%;
}

.push-10 {
    left: 10%;
}

.grid-15 {
    width: 15%;
}

.push-15 {
    left: 15%;
}

.grid-20 {
    width: 20%;
}

.push-20 {
    left: 20%;
}

.grid-25 {
    width: 25%;
}

.push-25 {
    left: 25%;
}

.grid-30 {
    width: 30%;
}

.push-30 {
    left: 30%;
}

.grid-35 {
    width: 35%;
}

.push-35 {
    left: 35%;
}

.grid-40 {
    width: 40%;
}

.push-40 {
    left: 40%;
}

.grid-45 {
    width: 45%;
}

.push-45 {
    left: 45%;
}

.grid-50 {
    width: 50%;
}

.push-50 {
    left: 50%;
}

.grid-55 {
    width: 55%;
}

.push-55 {
    left: 55%;
}

.grid-60 {
    width: 60%;
}

.push-60 {
    left: 60%;
}

.grid-65 {
    width: 65%;
}

.push-65 {
    left: 65%;
}

.grid-70 {
    width: 70%;
}

.push-70 {
    left: 70%;
}

.grid-75 {
    width: 75%;
}

.push-75 {
    left: 75%;
}

.grid-80 {
    width: 80%;
}

.push-80 {
    left: 80%;
}

.grid-85 {
    width: 85%;
}

.push-85 {
    left: 85%;
}

.grid-90 {
    width: 90%;
}

.push-90 {
    left: 90%;
}

.grid-95 {
    width: 95%;
}

.push-95 {
    left: 95%;
}

.grid-33 {
    width: 33.33333%;
}

.push-33 {
    left: 33.33333%;
}

.grid-66 {
    width: 66.66667%;
}

.push-66 {
    left: 66.66667%;
}

.grid-100 {
    width: 100%;
}

.push-100 {
    left: 100%;
}

@media screen and (min-width: 1024px) {
    .hide-on-desktop {
        display: none !important;
    }
}

@media screen and (min-width: 720px) and (max-width: 1023px), print {
    .hide-on-tablet {
        display: none !important;
    }

    .tablet-push-0 {
        left: 0;
    }

    .tablet-grid-5 {
        width: 5%;
    }

    .tablet-push-5 {
        left: 5%;
    }

    .tablet-grid-10 {
        width: 10%;
    }

    .tablet-push-10 {
        left: 10%;
    }

    .tablet-grid-15 {
        width: 15%;
    }

    .tablet-push-15 {
        left: 15%;
    }

    .tablet-grid-20 {
        width: 20%;
    }

    .tablet-push-20 {
        left: 20%;
    }

    .tablet-grid-25 {
        width: 25%;
    }

    .tablet-push-25 {
        left: 25%;
    }

    .tablet-grid-30 {
        width: 30%;
    }

    .tablet-push-30 {
        left: 30%;
    }

    .tablet-grid-35 {
        width: 35%;
    }

    .tablet-push-35 {
        left: 35%;
    }

    .tablet-grid-40 {
        width: 40%;
    }

    .tablet-push-40 {
        left: 40%;
    }

    .tablet-grid-45 {
        width: 45%;
    }

    .tablet-push-45 {
        left: 45%;
    }

    .tablet-grid-50 {
        width: 50%;
    }

    .tablet-push-50 {
        left: 50%;
    }

    .tablet-grid-55 {
        width: 55%;
    }

    .tablet-push-55 {
        left: 55%;
    }

    .tablet-grid-60 {
        width: 60%;
    }

    .tablet-push-60 {
        left: 60%;
    }

    .tablet-grid-65 {
        width: 65%;
    }

    .tablet-push-65 {
        left: 65%;
    }

    .tablet-grid-70 {
        width: 70%;
    }

    .tablet-push-70 {
        left: 70%;
    }

    .tablet-grid-75 {
        width: 75%;
    }

    .tablet-push-75 {
        left: 75%;
    }

    .tablet-grid-80 {
        width: 80%;
    }

    .tablet-push-80 {
        left: 80%;
    }

    .tablet-grid-85 {
        width: 85%;
    }

    .tablet-push-85 {
        left: 85%;
    }

    .tablet-grid-90 {
        width: 90%;
    }

    .tablet-push-90 {
        left: 90%;
    }

    .tablet-grid-95 {
        width: 95%;
    }

    .tablet-push-95 {
        left: 95%;
    }

    .tablet-grid-33 {
        width: 33.33333%;
    }

    .tablet-push-33 {
        left: 33.33333%;
    }

    .tablet-grid-66 {
        width: 66.66667%;
    }

    .tablet-push-66 {
        left: 66.66667%;
    }

    .tablet-grid-100 {
        width: 100%;
    }

    .tablet-push-100 {
        width: 100%;
    }
}

@media screen and (min-width: 0px) and (max-width: 719px) {
    .hide-on-mobile {
        display: none !important;
    }

    .mobile-push-0 {
        left: 0;
    }

    .mobile-grid-5 {
        width: 5%;
    }

    .mobile-push-5 {
        left: 5%;
    }

    .mobile-grid-10 {
        width: 10%;
    }

    .mobile-push-10 {
        left: 10%;
    }

    .mobile-grid-15 {
        width: 15%;
    }

    .mobile-push-15 {
        left: 15%;
    }

    .mobile-grid-20 {
        width: 20%;
    }

    .mobile-push-20 {
        left: 20%;
    }

    .mobile-grid-25 {
        width: 25%;
    }

    .mobile-push-25 {
        left: 25%;
    }

    .mobile-grid-30 {
        width: 30%;
    }

    .mobile-push-30 {
        left: 30%;
    }

    .mobile-grid-35 {
        width: 35%;
    }

    .mobile-push-35 {
        left: 35%;
    }

    .mobile-grid-40 {
        width: 40%;
    }

    .mobile-push-40 {
        left: 40%;
    }

    .mobile-grid-45 {
        width: 45%;
    }

    .mobile-push-45 {
        left: 45%;
    }

    .mobile-grid-50 {
        width: 50%;
    }

    .mobile-push-50 {
        left: 50%;
    }

    .mobile-grid-55 {
        width: 55%;
    }

    .mobile-push-55 {
        left: 55%;
    }

    .mobile-grid-60 {
        width: 60%;
    }

    .mobile-push-60 {
        left: 60%;
    }

    .mobile-grid-65 {
        width: 65%;
    }

    .mobile-push-65 {
        left: 65%;
    }

    .mobile-grid-70 {
        width: 70%;
    }

    .mobile-push-70 {
        left: 70%;
    }

    .mobile-grid-75 {
        width: 75%;
    }

    .mobile-push-75 {
        left: 75%;
    }

    .mobile-grid-80 {
        width: 80%;
    }

    .mobile-push-80 {
        left: 80%;
    }

    .mobile-grid-85 {
        width: 85%;
    }

    .mobile-push-85 {
        left: 85%;
    }

    .mobile-grid-90 {
        width: 90%;
    }

    .mobile-push-90 {
        left: 90%;
    }

    .mobile-grid-95 {
        width: 95%;
    }

    .mobile-push-95 {
        left: 95%;
    }

    .mobile-grid-33 {
        width: 33.33333%;
    }

    .mobile-push-33 {
        left: 33.33333%;
    }

    .mobile-grid-66 {
        width: 66.66667%;
    }

    .mobile-push-66 {
        left: 66.66667%;
    }

    .mobile-grid-100 {
        width: 100%;
    }

    .mobile-push-100 {
        width: 100%;
    }
}
